table {
  border-collapse: collapse;
  margin: 0;
}

th {
  font-size: 15px;
}

td {
  padding: 6px;
  font-size: 0.1%;
  font-weight: 50;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  position: absolute;
  left: 20%;
  width: 80%;
  top: 0;
  bottom: 0;
}


.questionBox {
  opacity: 0.8
}


.buttonSubmit {
  position: absolute;
  left: 45%; 
  border-radius: 16px;
  border: none;
  background-color: #55c2da;
  color: white;
  padding: 5px
}

.buttonSubmit:hover {background-color: #25859b}

.buttonSubmit:active {
  background-color: #25859b;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.buttonRefresh {
  position: absolute;
  left: 55%; 
  border-radius: 16px;
  border: none;
  background-color: #dd7973;
  color: white;
  padding: 5px
}

.buttonRefresh:hover {background-color: #b13e38}

.buttonRefresh:active {
  background-color: #b13e38;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.mapboxgl-ctrl-geocoder {
  width: 300px !important;
}

.mapboxgl-popup-close-button {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  color: #404040;
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 800;
  line-height: 20px;
  padding: 2px 2px;
}

#jump-link {
  padding: 0 4px;
}

#total {
  font-size: 22px;
  margin: 0;
  font-weight: 800;
  line-height: 20px;
  padding: 20px 2px;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}

.sidebar {
  position: absolute;
  width: 20%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.heading {
  background: #fff;
  border-bottom: 2px solid #eee;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}

.footing {
  background: #fff;
  border-top: 2px solid #eee;
  height: 40px;
  line-height: 40px;
  text-align: left;
  width: 100%;
  padding: 0px 10px;
}

.listings {
  height: 82%;
  overflow: auto;
  padding-bottom: 60px;
  font-size: 14px;
}

.listings .item {
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child {
  border-bottom: none;
}

.listings .item .title {
  display: block;
  color: #101010;
  font-weight: 700;
  font-size: 15px;
}

.listings .item .title small {
  font-weight: 400;
}

.listings .item.active .title,
.listings .item .title:hover {
  color: #101010;
}

.listings .item.active {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #101010;
  border-radius: 0;
}

.modal{
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}